<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <title>Página Não Encontrada - 404</title>
        <link rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
        <link rel='stylesheet'
            href='https://fonts.googleapis.com/css?family=Roboto:400,300,700,900'>
        <link rel="stylesheet" href="../ErrorResources/ErrorMountain.css">
        <link rel="stylesheet" href="../ErrorResources/ErrorNeon.css">
    </head>
    <div class="page">

        <div class="content">
            <h1>404</h1>
            <h2>Page not found</h2>
            <p>I tried to catch some fog, but i mist</p>
            <a>back to home</a>
        </div>
        <img src="http://www.supah.it/dribbble/008/008.jpg" />
    </div>
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script
        src="../ErrorResources/ErrorNeon.js"></script>
    <script
        src="../ErrorResources/ErrorMountain.js"></script>
</html>
